/* ==========================================================================
   CASTING (LISTING)
   ========================================================================== */
#Job {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

#Job h1 {
  flex: 1 1 auto;
}


.job-list {
  flex: 1 1 auto;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-regular);
}

#Job>aside {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 23rem;
  flex: 1 1 300px;
}

.job-list>nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--space-small);

}

/* Desktop layout */
@media screen and (min-width: 1300) {

  #Job aside .responsive-card {
    flex-direction: column;
  }

  #Job aside .responsive-card img {
    max-width: max-content;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
  }
}


/* ==========================================================================
   CASTING FILTER
   ========================================================================== */

#casting-filtre .input-group {
  margin-bottom: 0 !important;
}

#casting-filtre {
  margin-bottom: 35px;
}


/* ==========================================================================
   JOB CARD (LIST ITEMS)
   ========================================================================== */

.card.card-job {
  padding: var(--space-small);
  gap: var(--space-tiny);
}

.card.card-job header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card.card-job header>nav {
  flex: 1 1 auto;
  /* take available space */
  min-width: 0;
  display: flex;
  flex-direction: column;
  /* stacked badges */
  align-items: stretch;
  /* allow children to stretch */
}

.card.card-job header>nav a {
  display: block;
}

.card.card-job header>small {
  display: block;
  text-align: right;
}


.card.card-job main {
  color: var(--dark);
}

/* Links */
.card.card-job a {
  text-transform: uppercase;
}

.card.card-job>a {
  color: black;
}

.card.card-job>a small {
  text-align: right;
  display: block;
  margin-right: 1rem;
}

/* Job card nav layout */
.card.card-job nav a {
  display: block;
}

@media screen and (min-width: 31rem) {

  .card.card-job header>nav {
    flex: 0 1 auto;
    /* take available space */

    flex-direction: row;
    /* stacked badges */
    align-items: stretch;
    /* allow children to stretch */
  }

  .card.card-job nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
  }

  .card.card-job nav a {
    position: relative;
  }

  .card.card-job nav a:not(:first-child) {
    padding-left: 1rem;

  }

  .card.card-job nav a:not(:first-child)::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #000;
    /* customize */
  }
}


/* ==========================================================================
   CASTING SINGLE
   ========================================================================== */

#casting-single pre {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

#casting-single aside {
  max-width: 35rem;
}

#casting-single aside .meta-list {
  padding: 1.5rem 2rem;
}

#casting-single aside .meta-list .meta-head a {
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 600;
}

#casting-single aside .add-btn {
  width: 100%;
}

@media screen and (min-width: 992px) {
  #casting-single {
    display: flex;
    flex-wrap: nowrap;
    gap: 5rem;
  }

  #casting-single aside {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}


/* ==========================================================================
   ADD JOB FORM
   ========================================================================== */

form.add-job fieldset {
  margin: 2rem 0;
}

/* Legends and labels serve as titles */
form.add-job fieldset>label {
  font-size: 1rem;
  display: block;
}

form.add-job legend {
  color: var(--primary);
  font-size: 1.5rem;
}

form.add-job label:has(input[type="radio"]) {
  display: block;
  color: #000;
}

form.add-job label input {
  margin-right: 0.7rem;
}

form.add-job fieldset>div {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

form.add-job fieldset>div>* {
  flex: 1 1 auto;
}

#add_job_content .dates {
  display: flex;
  flex-wrap: wrap;
}

#add_job_annonceur label {
  margin-top: 1rem;
  color: #000;
}